
<div class="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">DG</span>
							Application &copy; 2013-2017
						</span>
        </div>

        <!-- /section:basics/footer -->
    </div>
</div>

