<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <ul class="nav nav-list">
        <li class="">
            <a href="index.html">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> {$Think.lang.dashboard} </span>
            </a>

            <b class="arrow"></b>
        </li>


        <li class="active open">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> {$Think.lang.video} </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li id="nav_tag_List">
                    <a href="/admin/tags/mlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        {$Think.lang.tags_admin}
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="nav_column_List">
                    <a href="/admin/album/mlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        {$Think.lang.column_admin}
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="nav_complex_List">
                    <a href="/admin/complex/mlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        合集管理
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="nav_video_edit_view">
                    <a href="/admin/article/view">
                        <i class="menu-icon fa fa-caret-right"></i>
                        {$Think.lang.menu_video_new}
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="nav_video_List">
                    <a href="/admin/article/mlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        {$Think.lang.menu_video_list}
                    </a>

                    <b class="arrow"></b>
                </li>
                <li id="nav_addBook">
                    <a href="/admin/shop/view">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <!--{$Think.lang.menu_video_list}-->
                        添加商品
                    </a>

                    <b class="arrow"></b>
                </li>
                <li id="nav_bookLists">
                    <a href="/admin/shop/mlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <!--{$Think.lang.menu_video_list}-->
                        商品列表
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        {eq name="isAppUpdate" value="true"}
        <li class="active open">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> 配置 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li id="nav_apprelease_view">
                    <a href="/admin/apprelease/view">
                        <i class="menu-icon fa fa-caret-right"></i>
                        APP 新增 & 编辑
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="" id="nav_apprelease_list">
                    <a href="/admin/apprelease/mlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        APP 发布管理
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        {/eq}

        {eq name="isOfflineAdmin" value="true"}
        <!--<li class="active open">-->
            <!--<a href="#" class="dropdown-toggle">-->
                <!--<i class="menu-icon fa fa-file-o"></i>-->
                <!--<span class="menu-text"> Offline </span>-->

                <!--<b class="arrow fa fa-angle-down"></b>-->
            <!--</a>-->

            <!--<b class="arrow"></b>-->

            <!--<ul class="submenu">-->

                <!--<li id="nav_sms_view">-->
                    <!--<a href="/admin/sms/view">-->
                        <!--<i class="menu-icon fa fa-caret-right"></i>-->
                        <!--发送短信-->
                    <!--</a>-->

                    <!--<b class="arrow"></b>-->
                <!--</li>-->

                <!--<li class="" id="nav_sms_list">-->
                    <!--<a href="/admin/sms/mlist">-->
                        <!--<i class="menu-icon fa fa-caret-right"></i>-->
                        <!--短信管理-->
                    <!--</a>-->
                    <!--<b class="arrow"></b>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        {/eq}

    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <!-- /section:basics/sidebar.layout.minimize -->
</div>
